<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.holistic.application.thetruemeaningofislam">

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="org.holistic.application.thetruemeaningofislam.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.holistic.application.thetruemeaningofislam.AdnanActivity" />
        <activity android:name="org.holistic.application.thetruemeaningofislam.IslamQuestionsActivity" />
        <activity android:name="org.holistic.application.thetruemeaningofislam.LessonTwoActivity" />
        <activity android:name="org.holistic.application.thetruemeaningofislam.FaithPillarsActivity" />
        <activity android:name="org.holistic.application.thetruemeaningofislam.JihadActivity" />
        <activity android:name="org.holistic.application.thetruemeaningofislam.PillarsActivity" />
        <activity android:name="org.holistic.application.thetruemeaningofislam.QuranBeliefActivity"></activity>
    </application>

</manifest>